// sizes
$header-height:         10%;
$main-height:           70%;
$footer-height:         20%;
// units
$spacing-unit:          12px;
$color-white:           #ecf0f1; // grey white
$color-dark-blue:       #2c3e50; // dark blue
$color-red:             #e74c3c; // red
$color-light-blue:      #3498db; // light blue
// settings
$transition:            .5s ease;
// font face
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?gsmsa5');
    src: url('../fonts/icomoon.eot?gsmsa5#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?gsmsa5') format('truetype'), url('../fonts/icomoon.woff?gsmsa5') format('woff'), url('../fonts/icomoon.svg?gsmsa5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// icons
.icon-arrow-up-right:before {
    content: "\ea33";
}

.icon-arrow-down-right:before {
    content: "\ea35";
}

// custom styling
body,
html {
    font-family: 'Roboto', sans-serif;
    background-color: $color-dark-blue;
    color: $color-white;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

h1 {
    font-family: 'Slabo 27px', serif;
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-item {
    width: 100%;
    flex-grow: 1;
    flex-basis: 33%;
    padding: 5px;
    margin-top: 0;
    font-weight: bold;
    //font-size: 3em;
    text-align: center;
}

.flex--row {
    flex-direction: row;
}

.flex--column {
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: $header-height;
    height: $header-height;
    transition: $transition;
}

.main {
    flex-basis: $main-height;
    height: $main-height;
    padding: 0;
}

.lead {
    margin-bottom: 0;
}
.row {
    font-size: 1em;
}

.map-container {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
    margin-bottom: 24px;
}

.btn {
    border: 2px solid;
    transition: $transition;

    &.btn-report {
        font-weight: 300;
        font-size: 1.5em;
        background-color: $color-dark-blue;
        padding: 20px 32px;
        border-color: $color-white;
        &:hover {
            color: $color-dark-blue;
            border-color: $color-white;
            background-color: $color-white;
        }
    }
    &.btn-cancel {
        font-weight: 300;
        font-size: 1.5em;
        border-color: $color-red;
        background-color: $color-dark-blue;
        color: $color-red;
        padding: 15px 45px;
        &:hover {
            color: $color-dark-blue;
            border-color: $color-red;
            background-color: $color-red;
        }
    }
    &.btn-submit {
        font-weight: 300;
        font-size: 1.5em;
        border-color: $color-light-blue;
        background-color: $color-dark-blue;
        color: $color-light-blue;
        padding: 15px 45px;
        &:hover {
            color: $color-dark-blue;
            border-color: $color-light-blue;
            background-color: $color-light-blue;
        }
    }
}

.dialog {
    &.dialog--main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: $footer-height;
        height: $footer-height;
    }

    &.dialog--submit {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        flex-basis: $footer-height + $header-height;
        width: 100%;
        height: $footer-height + $header-height;
    }
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    flex-grow: 2;
    width: 100%;

    span {
        font-weight: 300;
        font-size: 1.5em;
    }
    .locInfo {
        font-weight: 400;
        font-size: 2em;
        text-align: center;
    }
}
.actions {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: $spacing-unit;

    .flex-item {
        align-self: flex-start;
    }
}